 body {
  background-color: lightblue;
  font-family: sans-serif;
}

body {
  color: rgb(255, 0, 0);
}
 body {
    text-align: center;
}
img {
    display: block;        
    margin: 20px auto;     
    max-width: 200px;      
    border-radius: 20px;   
}
